{% extends "templates/main.html.jinja2" %}

{% block content %}
{{ content }}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF; margin-bottom:10px;">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link active" href="?" style="color:#007bff;">Start</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="?offset={{ previous_set }}" style="color:#007bff;">Previous</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="?offset={{ next_set }}" style="color:#007bff;">Next</a>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}