[
 {:label "Duplicate labels"
  :iri "http://example.com/validation_1"
  :select "PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT ?label ?term1 ?term2
FROM <https://ontology.iedb.org/ontology/ONTIE>
WHERE {
  ?term1 rdfs:label ?label .
  ?term2 rdfs:label ?label .
  FILTER (?term1 != ?term2)
}"}
 {:label "Protein taxon must be an NCBI taxon"
  :iri "http://example.com/validation_2"
  :select "PREFIX ONTIE: <https://ontology.iedb.org/ontology/ONTIE_>
SELECT ?term ?taxon
FROM <https://ontology.iedb.org/ontology/ONTIE>
WHERE {
  ?term ONTIE:0003256 ?taxon .
  FILTER (!regex(str(?taxon), \"NCBITaxon_\"))
}"}
 {:label "Parent taxon must be an NCBI taxon or ONTIE taxon"
  :iri "http://example.com/validation_3"
  :select "PREFIX ONTIE: <https://ontology.iedb.org/ontology/ONTIE_>
SELECT ?term ?taxon ?domain
FROM <https://ontology.iedb.org/ontology/ONTIE>
WHERE {
  ?term ONTIE:0003258 ?taxon .
  OPTIONAL { ?taxon ONTIE:0003259 ?domain . }
  FILTER (!regex(str(?taxon), \"NCBITaxon_\") && ?domain != \"taxon\")
}"}
 {:label "ONTIE label must not duplicate NCBI Taxonomy label"
  :iri "http://example.com/validation_4"
  :select "PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT ?label ?term1 ?term2
WHERE {
  GRAPH <https://ontology.iedb.org/ontology/ONTIE> {
    ?term1 rdfs:label ?label .
  }
  GRAPH <http://purl.obolibrary.org/obo/NCBITaxon> {
    ?term2 rdfs:label ?label .
  }
}"}
]
